*{
    margin:0 ;
    box-sizing: border-box;
}

.win {
    width: 70px;
    height: 70px;
    padding:5px;
    display: grid;
    place-items: center;
    border:2px solid white;
    border-radius: 5rem;
    position:fixed;
    top:0;
    left:0;
    
}

.win::before{
    font-family:"Segoe UI";
}


.start{
    border:1px solid rgb(253, 253, 253);
    padding: 5px 10px;
    position: fixed;
    inset:0;
    width:fit-content;
    height: fit-content;
    margin:auto;
    cursor:pointer;
    border-radius: 10rem;
    color: aliceblue;
}

.start:hover{
    background:rgb(12, 12, 12);
    color:rgb(252, 250, 250);
}

.scoreboard{
    position: fixed;
    left: 10px;
    top:10px;
    color: aliceblue;
}

.timer{
    height:7px;
    position:fixed;
    width:100%;
    background:rgb(20, 20, 20);
}

.timer .value{
    width:100%;
    background:white;
    height:100%;
}

.timer .value.go {
    animation: shrink linear forwards;
    animation-duration:var(--timer);

}

@keyframes shrink{
    0%{
        width:100%;
    }
    100%{
        width:0%;
    }
}
body
{
    background-image: url("cornered-stairs.png");
}
.cursor{
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  @keyframes colors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  
  .cursor:before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }